@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
:root {
  --bg: #258bf1;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  background-color: var(--bg);
  position: fixed;
  top: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  margin: 2px 7px;
  width: 62vh;
  border-radius: 10px;
}

.container .navigation {
  display: none;
}

.container .notify {
  display: none;
}

.container .user_details {
  display: none;
}

.container nav.menu-btn {
  display: block;
}

.container .notify {
  position: fixed;
  z-index: 999;
  width: 50%;
  right: 5em;
  top: 3em;
  background: white;
  height: 50vh;
  overflow: auto;
  border: 1px solid black;
  border-radius: 10px;
}

.container .notify .no {
  margin: 1em;
}

.container .notify .user-menu-exit {
  float: right;
  margin: 1em;
  width: 20px;
  cursor: pointer;
  color: black;
}

.container .notify ul li a {
  color: black;
  margin: 1em 2em;
  font-weight: 400;
}

.container .notify ul li a:hover {
  font-weight: bold;
}

.container .user_details {
  position: fixed;
  z-index: 999;
  width: 80%;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
}

.container .user_details .user-menu-exit {
  float: left;
  margin: 1em;
  cursor: pointer;
  color: black;
}

.container .user_details .btn {
  border: none;
  padding: 1em;
  margin-top: .6em;
  margin-left: 18em;
  background-color: #258bf1;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.container .user_details .btn:hover {
  background-color: #187fe7;
}

.container .navigation {
  position: fixed;
  z-index: 999;
  width: 70%;
  left: 0;
  top: 0;
  background: white;
  height: 100vh;
  border: 1px solid black;
  border-radius: 10px;
}

.container .navigation .navi-menu-exit {
  float: right;
  margin: 1em;
  cursor: pointer;
  color: black;
}

.container .navigation .logo {
  border: 1px solid black;
  margin-left: 5px;
  width: 45vh;
  margin-top: -.5em;
}

.container .navigation .list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: .5em;
  display: block;
  position: relative;
  overflow: hidden;
}

.container .navigation .list .icon {
  vertical-align: -18px;
}

.container .navigation .list img {
  width: 3vh;
}

.container .navigation .list li span {
  margin-left: 1em;
  font-weight: lighter;
}

.container .navigation .list li span a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 1em;
  text-align: left;
}

.container .navigation .list li span:hover {
  font-weight: bold;
}

.container .navigation li a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 1em;
  font-weight: lighter;
  text-align: left;
}

.container .navigation li:hover {
  font-weight: bolder;
}

.container img {
  width: 24px;
  margin: .8em;
}

.container a {
  color: black;
  text-decoration: none;
  display: block;
  color: white;
}

.container .ham {
  cursor: pointer;
}

.container .lg {
  color: black;
  font-size: 17px;
  margin-top: .7em;
}

.container .noti {
  margin-left: 6em;
  width: 22px;
  cursor: pointer;
}

.container .user {
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  cursor: pointer;
}
/*# sourceMappingURL=nav.css.map */