@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
:root {
  --bg: #258bf1;
}

.main {
  border-radius: 10px;
  border: 2px solid black;
  margin: 0.5em;
  margin-top: 4.3em;
  height: 92vh;
}
.main .logo img {
  margin: 0.5em 1.2em;
  width: 42vh;
  border-radius: 10px;
}
.main .profile {
  border-radius: 10px;
  margin: 0.5em;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}
.main .profile .img {
  border-radius: 15px;
  padding: 5px;
  margin-top: 2em;
  width: 15vh;
  height: 15vh;
  cursor: pointer;
}
.main .profile .img img {
  width: 13vh;
  height: 13vh;
  border-radius: 50%;
}
.main .profile .details {
  border: 1px solid rgb(104, 102, 102);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  top: 1px;
  height: 20vh;
  width: 65vw;
}
.main .profile .details table td {
  font-weight: lighter;
}
.main .profile .details table td .stu_details {
  font-size: 10px;
  font-weight: 500;
}
.main .profile .details table section {
  color: rgb(104, 102, 102);
  font-size: 8px;
  font-weight: lighter;
}
.main .profile .details table section img {
  width: 15px;
  height: 15px;
}
.main .attendance_details {
  border: 1px solid rgb(104, 102, 102);
  border-radius: 10px;
  margin: 0.5em;
  padding: 1em;
  height: 35vh;
  font-weight: lighter;
}
.main .attendance_details span .chart {
  margin-right: 0.1em;
  width: 2vh;
  height: 2vh;
}
.main .attendance_details .grah {
  margin: 0.5em 5em;
  width: 25vh;
  height: 25vh;
}
.main .footer {
  border-radius: 10px;
  border: 2px solid black;
  padding: 0.5em;
  margin: 1em;
  font-size: 15px;
  text-align: center;
  font-weight: lighter;
}
.main .footer span {
  font-weight: 400;
  color: #000000;
}

@media only screen and (min-width: 720px) {
  .main {
    border: 2px solid black;
    margin: 0 10em;
    margin-top: 4.3em;
  }
  .main .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main .logo img {
    width: 60vh;
  }
  .main .profile {
    border-radius: 10px;
    margin: 0.5em;
    height: 25vh;
  }
  .main .profile .img {
    border-radius: 15px;
    margin: 5px;
    width: 25vh;
    height: 25vh;
    cursor: pointer;
  }
  .main .profile .img img {
    width: 22vh;
    height: 22vh;
    border-radius: 50%;
  }
  .main .profile .details {
    border: 1px solid rgb(104, 102, 102);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    margin-left: 1em;
    top: 1px;
    height: 20vh;
  }
  .main .profile .details table td {
    font-weight: lighter;
  }
  .main .profile .details table td .stu_details {
    font-size: 12.5px;
    font-weight: 500;
  }
  .main .profile .details table section {
    color: rgb(104, 102, 102);
    font-size: 10px;
    font-weight: lighter;
  }
  .main .profile .details table section img {
    width: 15px;
    height: 15px;
  }
  .main .attendance_details {
    border: 1px solid rgb(104, 102, 102);
    border-radius: 10px;
    margin: 0.5em;
    padding: 1em;
    height: 35vh;
    font-weight: lighter;
  }
  .main .attendance_details span .chart {
    margin-right: 0.1em;
    width: 2vh;
    height: 2vh;
  }
  .main .attendance_details .grah {
    margin: 1em 5em;
    width: 30vh;
    height: 30vh;
  }
}/*# sourceMappingURL=home.css.map */