@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
:root {
  --bg: #258bf1;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: url(./presi.jpg) no-repeat fixed;
  background-size: cover;
  width: 91%;
  height: 100vh;
}
body .kpro {
  display: flex;
  justify-content: center;
  margin: 2.2em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
body .kpro img {
  width: 80vw;
}
body .container {
  border-radius: 15px;
  height: 55vh;
  width: 80vw;
  margin-left: 2.5em;
  background: white;
}
body .container .logo img {
  border-radius: 5px;
  margin: 0.5em 2.5em;
  width: 60vw;
  height: 10vh;
}
body .container .uni {
  margin-top: -1em;
  margin-left: 1em;
  font-size: 1em;
  font-weight: 500;
  color: black;
}
body .container .stu {
  font-size: 1.2em;
  margin-top: -0.01em;
  margin-left: -0.01em;
  color: black;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.5em;
  width: 74.5vw;
  border-radius: 12px 12px 0 0;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
body .container .wrapper {
  background: #fff;
  border-radius: 15px;
  height: 35vh;
  width: 80vw;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
body .container .wrapper form {
  padding: 10px 30px 50px 30px;
}
body .container .wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
body .container .wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
body .container .wrapper form .field input:focus,
body .container form .field input:valid {
  border-color: #4158d0;
}
body .container .wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
body .container form .field input:focus ~ label,
body .container form .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
body .container form .field input[type=submit] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}
body .container form .field input[type=submit]:active {
  transform: scale(0.95);
}
body .container .field a {
  border: 2px solid #c850c0;
  border-radius: 50px;
  padding: 0.5em;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
body .container .field a:hover {
  color: white;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
body .footer {
  border-radius: 10px;
  border: 2px solid black;
  padding: 0.4em;
  width: 100%;
  margin-top: 5em;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
}
body .footer span {
  font-weight: 400;
  color: #000000;
}

@media only screen and (min-width: 720px) {
  body {
    background: url(./presi.jpg) no-repeat fixed;
    background-size: cover;
    width: 91%;
    height: 95vh;
  }
  body .kpro {
    display: flex;
    align-items: center;
  }
  body .kpro img {
    width: 25vw;
  }
  body .container {
    width: 25vw;
  }
  body .container .logo img {
    width: 20vw;
  }
  body .container .uni {
    margin-left: 3em;
    font-size: 1.1em;
  }
  body .container .stu {
    width: 23.7vw;
  }
  body .container .wrapper {
    width: 25vw;
  }
  .footer {
    color: white;
    border: 2px solid white;
  }
}/*# sourceMappingURL=login_page.css.map */