.main_body {
  margin: 4.5em 1em;
  border: 2px solid black;
  border-radius: 10px;
  width: 90vw;
  height: 95vh;
}
.main_body .lg {
  margin: 0.1em;
}
.main_body .lg img {
  margin-top: 0.2em;
  width: 90vw;
  height: 8vh;
  border-radius: 10px;
}
.main_body .atten {
  margin: 1em 1em;
  font-size: 1.1em;
  font-weight: 500;
}
.main_body .atten span img {
  vertical-align: -2px;
  width: 3vh;
  height: 3vh;
}
.main_body .table_container {
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.5em;
  height: 75%;
  padding: 0.5em;
  overflow: auto;
}
.main_body .table_container table {
  margin: -0.2em;
  border: 1px solid black;
  border-radius: 10px;
}
.main_body .table_container table tr th {
  font-size: 15px;
  font-weight: 700;
  border: 1px solid black;
  padding: 0.2em;
  border-radius: 10px;
}
.main_body .table_container table tr th .t_h {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_body .table_container table tr td {
  height: 6vh;
  border: 1px solid rgb(129, 122, 122);
  border-radius: 10px;
}
.main_body .table_container table tr td .s_no {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_body .table_container table tr td .subs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.main_body .table_container table tr td .subs_date {
  margin: 1em;
  font-size: 13px;
}
.main_body .table_container table tr td .type {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_body .table_container table tr td .conducted {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_body .table_container table tr td .present {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_body .table_container table tr td .t_h_a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_body .table_container table tr td .per {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  border-radius: 10px;
  border: 2px solid black;
  padding: 0.5em;
  margin: 1em;
  font-size: 15px;
  text-align: center;
  font-weight: lighter;
}
.footer span {
  font-weight: 400;
  color: #000000;
}

@media only screen and (min-width: 720px) {
  .main_body {
    width: 98.5%;
    height: 110vh;
  }
  .main_body .lg {
    margin: 0.1em;
  }
  .main_body .lg img {
    margin-top: 0.2em;
    margin-left: 33em;
    width: 50vh;
    height: 10vh;
  }
  .main_body .atten {
    margin: 1em 1em;
    font-size: 1.1em;
    font-weight: 500;
  }
  .main_body .atten span img {
    vertical-align: -2px;
    width: 3vh;
    height: 3vh;
  }
  .main_body .table_container {
    border: 1px solid black;
    border-radius: 10px;
    margin: 0.5em;
    height: 42vw;
    padding: 0.5em;
    overflow: auto;
  }
  .main_body .table_container table {
    margin: -0.2em;
    border: 1px solid black;
    border-radius: 10px;
  }
  .main_body .table_container table tr th {
    font-size: 15px;
    font-weight: 700;
    border: 1px solid black;
    padding: 0.2em;
    border-radius: 10px;
  }
  .main_body .table_container table tr th .t_h {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main_body .table_container table tr td {
    height: 6vh;
    border: 1px solid rgb(129, 122, 122);
    border-radius: 10px;
  }
  .main_body .table_container table tr td .s_no {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main_body .table_container table tr td .subs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  .main_body .table_container table tr td .subs_date {
    margin: 1em;
    font-size: 13px;
  }
  .main_body .table_container table tr td .type {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main_body .table_container table tr td .conducted {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main_body .table_container table tr td .present {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main_body .table_container table tr td .t_h_a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main_body .table_container table tr td .per {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer {
  text-align: center;
}/*# sourceMappingURL=time_table.css.map */